.header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 40px;
  border-bottom: #c2bfbf 1px solid;
  z-index: 100;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5px;
}
.logo {
  background-image: url(thumbnails/cloudcode.png);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  align-items: bottom;
  padding-top: 10px;
  justify-content: center;
}
.logo-name {
  font-size: 29px;
  font-family: "Playfair Display", serif;
  color: white;
}
.right-header {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.features {
  font-family: "Playfair Display";
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.feature-container {
  display: flex;
  flex-direction: column;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature-selected {
    color: white;
}
.feature-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  font-size: 16px;
}

.tab-selected {
  color: #ebb462;
}
.tab-unselected {
  color: #bebebe;
  display: none;
}
.hamburger,
.hamburger-image {
  width: 40px;
  height: 40px;
  transition: all 0.7s;
}
.hamburger-image,
.feature-label:hover {
  cursor: pointer;
  color: #fffffe;
}
.hamburger-image:hover {
  width: 42px;
  height: 42px;
  cursor: pointer;
  background-blend-mode: color-dodge;
  background-color: #f7f6f682;
  border-radius: 10px;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #ffffff;
}