* {
  margin: 0;
}


.button {
  background-color: #f7f6f6;
  padding: 10px 20px;
  border-radius: 19px;
}
body {
  background-color: #fdfdfd;
  height: 96vh;
}
.big-box {
  margin: 20px;
  height: 100%;

  /*background-color: rgb(214, 215, 215);
  https://images.hdqwalls.com/wallpapers/fox-minimal-qw.jpg
  https://images.hdqwalls.com/wallpapers/one-moment-4j.jpg
  https://images.hdqwalls.com/wallpapers/boy-with-dog-o0.jpg
  https://images.hdqwalls.com/download/valley-river-minimal-8k-xo-1366x768.jpg
  https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4bb75b1d-3cb5-445c-bd55-682084d96bbf/dbbacbz-4f11d070-c282-4ff3-906d-5e13eb2e578d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRiYjc1YjFkLTNjYjUtNDQ1Yy1iZDU1LTY4MjA4NGQ5NmJiZlwvZGJiYWNiei00ZjExZDA3MC1jMjgyLTRmZjMtOTA2ZC01ZTEzZWIyZTU3OGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZaOae4jaIfctIOYB3HC9EkaAiAoi0endJC1AQKXeEac
  
  
  */
  background-image: url("https://images.hdqwalls.com/wallpapers/fox-minimal-qw.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  border: none;
  z-index: -1;
}
.topic-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.topic-title-desc {
  font-size: 26px;
  color: white;
}
.topic-title {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  color: white;
}
.topic-desc {
  font-size: 20px;
  color: white;
  width: 100%;
  overflow: scroll;
}
.topic-button {
  font-size: 22px;
  background-color: blue;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  transition: all 0.7s, color 0.7s;
  cursor: pointer;
}
.topic-button:hover {
  background-color: rgb(41, 41, 106);
}

.thai {
  display: flex;
  font-size: 52px;
  color: rgba(255, 255, 255, 0.041);
}
.join-button:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: rgb(59, 80, 200);
  color: black;
  padding: 10px 23px;
}
.topic-footer {
  flex: 0.1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.body-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 40px;
  height: 100vh;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  color: white;
  gap: 5px;
}

.time {
  writing-mode: vertical-lr;
  text-orientation: sideways-left;
  margin-right: 10px;
}
.left-header {
  flex: 1;
  background-color: #cdcacab5;
  width: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: #000000 1px solid;
  margin-right: 20px;
}
.circle {
  width: 15px;
  height: 30px;
  background-color: inherit;
  border-radius: 30px;
}
.unselected-circle {
  width: 10px;
  height: 10px;
  background-color: inherit;
  border-radius: 30px;
}
.overview-and-cards {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  
  width: 100%;
}
.bottom-container {
  display: flex;
  padding: 20px 20px;
  overflow: scroll;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.953);
  border-radius: 20px;
}
.topic-and-lesson {
  display: flex;
  gap: 5%;
}
.ide {
  background-color: #1b1b1b;
  color: white;
  border-radius: 17px;
  display: flex;
  flex:1;
  height: 350px;
  width: 100%;
  padding: 20px;
  margin: 40px 10px;
  font-size: 20px;
  font-family: monospace;
}
.lesson {
  flex: 1;

  padding: 10px 10px;
  border-radius: 10px;
  overflow: scroll;
  background: #303030;
  box-shadow: 20px 20px 60px #292929, -20px -20px 60px #151515;
}

.topic-card {
  display: flex;
  flex-direction: column;
  min-width: 170px;
  height: 260px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  padding: 10px;
  gap: 1%;
  border-radius: 13px;
}
.topic-card-selected {
  display: flex;
  flex-direction: column;
  min-width: 170px;
  height: 260px;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  padding: 10px;
  gap: 1%;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  border-radius: 13px;
}
.topic-picture {
  background-color: rgb(107, 68, 68);
  height: 70px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url("https://images.hdqwalls.com/wallpapers/one-moment-4j.jpg");
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
}
.topic-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.topic-card-title-desc {
  font-size: medium;
  color: #f8f4f4;
}
.topic-card-title {
  text-transform: uppercase;
  font-size: auto;
  color: #fefdfd;
  width: fit-content;
}
.topic-card-ln {
  color: #ebb462;
}
.topic-card-desc {
  font-size: small;
  height: 80px;
  overflow: hidden;
}
.topic-card-button {
  display: flex;

  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #cfcfcf, #f6f6f6);
  box-shadow: 10px 10px 20px #c4c4c4, -10px -10px 20px #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  color: #000;
  transition: color 0.7s;
  cursor: pointer;
}

.card-button {
  background-color: blue;
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.card-button:hover {
  background-color: rgb(31, 31, 175);
}

@media (max-width: 50rem) {
  .features {
    display: none;
  }
  .left {
    display: none;
  }
  .body-contain {
    overflow: scroll;
  }

  .body-contain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .topic-container {
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    text-align: center;
  }
  .ide {
    width: fit-content;
    height: fit-content;
  }
  
  .bottom-container {
    display: flex;
    overflow: visible;
    flex-wrap: wrap;
  }
  .topic-card {
    flex: 30%;
    box-shadow: none;
  }
  .topic-and-lesson {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.blink {
  color: orange;
  animation: 2s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.css-typing p {
  border-right: 0.15em solid orange;
  font-family: "Courier";
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 41.3em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 31.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 7.3em;
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end),
    blink 0.5s step-end infinite alternate;
  animation: type3 5s steps(20, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
