* {
  margin: 0;
}
.button {
  background-color: #f7f6f6;
  padding: 10px 20px;
  border-radius: 19px;
}
.big-box {
  height: 100vh;
  /*background-color: rgb(214, 215, 215);
  https://images.hdqwalls.com/wallpapers/fox-minimal-qw.jpg
  https://images.hdqwalls.com/wallpapers/one-moment-4j.jpg
  https://images.hdqwalls.com/wallpapers/boy-with-dog-o0.jpg
  https://images.hdqwalls.com/download/valley-river-minimal-8k-xo-1366x768.jpg
  https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4bb75b1d-3cb5-445c-bd55-682084d96bbf/dbbacbz-4f11d070-c282-4ff3-906d-5e13eb2e578d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRiYjc1YjFkLTNjYjUtNDQ1Yy1iZDU1LTY4MjA4NGQ5NmJiZlwvZGJiYWNiei00ZjExZDA3MC1jMjgyLTRmZjMtOTA2ZC01ZTEzZWIyZTU3OGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZaOae4jaIfctIOYB3HC9EkaAiAoi0endJC1AQKXeEac
  
  
  */
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4bb75b1d-3cb5-445c-bd55-682084d96bbf/dbbacbz-4f11d070-c282-4ff3-906d-5e13eb2e578d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRiYjc1YjFkLTNjYjUtNDQ1Yy1iZDU1LTY4MjA4NGQ5NmJiZlwvZGJiYWNiei00ZjExZDA3MC1jMjgyLTRmZjMtOTA2ZC01ZTEzZWIyZTU3OGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZaOae4jaIfctIOYB3HC9EkaAiAoi0endJC1AQKXeEac");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: top;
  border: none;
}

.me {
  height: 190px;
  margin-top: -150px;
}
.birds {
  width: 900px;
  height: 900px;
  position: absolute;
  bottom: 260px;
  z-index: 1;
}
@media (max-width: 40rem) {
  lottie-player {
    width: 500px;
    height: 400px;
    top: 60px;
  }
  .welcome-container {
    height: 100%;
  }
  .welcome-title {
    font-size: 8.3rem;
  }
  .welcome-desc {
    font-size: 1.3rem;
    width: 94%;
  }
}
.welcome-container {
  flex: 1;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 100;
}
.rain {
  position: absolute;
  filter: contrast(200%);
}
.welcome-title-desc {
  font-size: large;
  color: white;
}
.welcome-title {
  font-family: "Playfair Display", serif;
  font-size: 5.3rem;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(125, 88, 23));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome-desc {
  font-family: Times, serif;
  font-size: 1.3rem;
  color: white;
  width: 80%;
  text-align: center;
  line-height: 29px;
}
.join-button {
  background-color: blue;
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
  transition: padding 0.7s, color 0.7s;
  z-index: 10;
}
.join-button:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: rgb(59, 80, 200);
  color: black;
  padding: 10px 23px;
}
.welcome-footer {
  flex: 0.1;
  color: rgb(125, 120, 120);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
@media (max-width: 30rem) {
  .welcome-footer {
    flex-direction: column;
    gap: 85px;
    margin-bottom: 5%;
  }
}
