.header {
  display: flex;
  height: 80px;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 40px;
  border-bottom: #c2bfbf 1px solid;
  z-index: 100;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5px;
}
.logo {
  background-image: url(../thumbnails/cloudcode.png);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  align-items: bottom;
  padding-top: 10px;
  justify-content: center;
}
.logo-name {
  font-size: 29px;
  font-family: "Playfair Display", serif;
  color: rgb(255, 255, 255);
}
.right-header {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.features {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.feature-container {
  display: flex;
  flex-direction: column;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature-selected {
  color: white;
  background-color: chocolate;
  padding: 2px 8px;
  border-radius: 4px;
}
.feature-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  font-size: 16px;
}

.tab-selected {
  color: #ebb462;
}
.tab-unselected {
  color: #bebebe;
  display: none;
}
.hamburger,
.hamburger-image {
  width: 40px;
  height: 40px;
  transition: all 0.7s;
}
.hamburger-image,
.feature-label:hover {
  cursor: pointer;
  color: #fffffe;
}
.hamburger-image:hover {
  width: 42px;
  height: 42px;
  cursor: pointer;
  background-blend-mode: color-dodge;
  background-color: #f7f6f682;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #ffffff;
}
body {
  margin: 0;
}
.big-box {
  height: 100vh;
  /*background-color: rgb(214, 215, 215);
  https://images.hdqwalls.com/wallpapers/fox-minimal-qw.jpg
  https://images.hdqwalls.com/wallpapers/one-moment-4j.jpg
  https://images.hdqwalls.com/wallpapers/boy-with-dog-o0.jpg
  https://images.hdqwalls.com/download/valley-river-minimal-8k-xo-1366x768.jpg
  https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4bb75b1d-3cb5-445c-bd55-682084d96bbf/dbbacbz-4f11d070-c282-4ff3-906d-5e13eb2e578d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRiYjc1YjFkLTNjYjUtNDQ1Yy1iZDU1LTY4MjA4NGQ5NmJiZlwvZGJiYWNiei00ZjExZDA3MC1jMjgyLTRmZjMtOTA2ZC01ZTEzZWIyZTU3OGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZaOae4jaIfctIOYB3HC9EkaAiAoi0endJC1AQKXeEac
  
  thumbnails/deer.jpg
  https://www.99images.com/download-image/1027578/1920x995
https://free4kwallpapers.com/uploads/originals/2020/07/05/chillin-fox-wallpaper.jpg



  */

  background-image: url("https://i.pinimg.com/originals/82/3a/15/823a15beda15bfddbec9da6f767ca04a.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  padding: 0px 10px;
}
.orange-text {

  color: white;
  background-color: orangered;
  padding: 5px 10px;
  border-radius: 7px;
}
.white {
  color: white;
}
.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 0px;
  text-align: end;
  background-color: rgb(14, 15, 21);
  border-radius: 10px;
  padding: 15px;
  gap:5px;
}
.menu-item {
  display: flex;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.menu-item-selected {
  display: flex;
  color: #fff;
  background-color: rgb(14, 19, 35);
  border-radius: 10px;
  padding: 10px;
   
}
@media (max-width: 600px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    margin: 0px 19px;
  }

  .features,
  .left {
    display: none;
  }
}


/* generic styling */

.flex-columnq {
  display: flex;
  flex-direction: column;
}