@import url("https://fonts.cdnfonts.com/css/cisnero");
@import url("https://fonts.cdnfonts.com/css/astroviz");
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* background-color: #161b41; */

  /* linear-gradient(to top, #000000, #040414) */
  background: linear-gradient(to top, #000000, #06041a);
  /* font-family: "SF Pro Display", sans-serif; */
}
.falling-stars-wrapper {
  background-image: url(../waves/falling-stars.svg);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: auto;
}
.footer-background {
  background-image: url(../waves/footer-mine.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.bubbles-background {
  background-image: url(../waves/bubbles.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.falling-rocks-wrapper {
  background-image: url(../waves/falling-rocks.svg);

  background-position: center;
  background-size: contain;
}
.undersea-wrapper {
  background-image: url(../waves/undersea.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.sea-animals-wrapper {
  background-image: url(../waves/sea-animals.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.font-at {
  font-family: "Cisnero", sans-serif;
}
.font-sa {
  font-family: "Astroviz", sans-serif;
}
/* Colors */
:root {
  --my-background-color: #03071d;
  --my-title-color: #03071d;
  --my-desc-color: #03071d;
  --my-uns-btn-color: #03071d;
  --my-sel-btn-color: #03071d;
  --my-logo-color: #ffffff;
  --my-brand-color: rgb(255, 99, 71);
  --topic-desc-align: end;
  --marginbetween: 20px;
  --bodymargin: 0px 70px;
}
.d-margin {
  margin-left: auto;
  margin-right: auto;
  max-width: 1234px;
}
.v-space {
  margin-top: 80px;
  margin-bottom: 80px;
}
.white {
  color: aliceblue;
}
.black {
  color: black;
}
.faded-text {
  color:#454141;
}
/* fonts sizes */
.fonts-title {
  font-size: 72px;

  background: -webkit-linear-gradient(rgb(255 255 255), rgb(255 97 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* MENU BUTTON */
/* Style the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  
}

/* Style the dropdown button */
.dropdown-button {
  background-color: #009a49;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  color:white;
  position: absolute;
  width: 180px;
  top: 49px;
  right: 1px;
  /* background-color: white; */
  backdrop-filter: blur(21px);
  border-radius: 9px;
 
box-shadow:  5px 5px 10px #161b41,
             -5px -5px 10px #1606cd;
  z-index: 1;
  overflow: hidden;
}

/* Style the dropdown content links */
.dropdown-content a {
  color:lightsalmon;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: end;
  border-bottom: rgba(255, 255, 255, 0.037) solid 1px;
}

/* Change color on hover */
.dropdown-content a:hover {
  
   
box-shadow:  0px 1px 2px #060237,
             0px -1px 2px #1606cd;
            
             
}

/* Show the dropdown content when hovering over the button */
.dropdown:hover .dropdown-content {
  
  /* display: block; */
}


/* MENU BUTTON */
.center-text {
  text-align: center;
}
.d-bg {

  background-color: var(--card-background);
  border-radius: 19px;
  gap: 25px;
  backdrop-filter: blur(10px);
  border: 0.1px #3330307a solid;
}
.d-bg-1 {
  padding: 5px 8px !important;
  background-color: var(--card-background);
  border-radius: 9px;
  backdrop-filter: blur(21px);
  border: 0.1px #3330307a solid;
  backdrop-filter: blur(11px);
}
.blurred-button {
  font-size: 20px;
  padding: 14px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  border-radius: 10px;
  color: white;
  transition: transform 0.7s, color 0.7s;
  cursor: pointer;
  background: #473b2e2e;
  box-shadow: 0px 0px 1px #615f5c00, 0px 0px 2px #ffc67b;
}
/* Gradients */
.text-gradient {
  background: linear-gradient(to right, #af7777, #2e3ffb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blur-bg:hover {
  backdrop-filter: blur(10px);
}
.header-background {
  background-image: url("../waves/header-stars.svg");

  background-size: contain;
  background-position: center;
}
/* Body Element */
/* body {
  background-image: url("../thumbnails/digideer.jpeg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
} */
/* body {
  
} */
.header {
  /* position: absolute; */
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 1234px;

  left: 0px;
  right: 0px;
  margin: 0px auto 100px;
  padding: 60px 30px;
  z-index: 3;
}

.content {
  height: 100%;
  padding: 0px 10px;
  padding-top: 10px;
  z-index: 100;
  overflow: scroll;
  scroll-behavior: smooth;
}

/* layout */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}
.d-flex-row {
  display: flex;
}
.row-gap {
  gap: 29px !important;
}
.d-center-text {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
}
.d-left-to-center {
  width: 400px;
  display: flex;
  line-height: 1.5;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 200;
}
.d-row-to-column {
  flex-direction: row;
}
.center-row {
  justify-content: center;
}
.center-column {
  align-items: center;
}
.center-div {
  justify-content: center;
  align-items: center;
}
.asc {
  align-self: center;
}
.jsc {
  justify-self: center;
}
.jcsb {
  justify-content: space-between;
}
.jcc {
  justify-content: space-between;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.dw {
  font-size: 1.4rem;
  color: white;
  width: 50%;
}

/* Padding and Space */
.default-padding {
  padding: 10px 20px;
}
.bottom-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  padding: 19px 2px 19px 2px;
  gap: 20px;
  border-radius: 20px;
  justify-items: center;
}
.topic-picture {
  background-color: rgb(107, 68, 68);
  height: 70px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url("https://images.hdqwalls.com/wallpapers/one-moment-4j.jpg");
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;

  /* mix-blend-mode: difference; */
}
.topic-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  padding: 9px;
  /* gap: 19px; */
  width: 180px;
    gap: 9px;
    background-color: #34323f8a;
    backdrop-filter: blur(20px);
    backdrop-filter: blur(12px);
    border: rgba(228, 225, 225, 0.109) solid 1px;
    border-radius: 14px;
    color: white;
    overflow: hidden;
    height: 90%;
    backdrop-filter: blur(20px);
}
.topic-card-title {
  text-transform: uppercase;
  font-size: auto;
  color: #ffffff;
  width: fit-content;
}
.topic-card-ln {
  color: #fd9800;
}
.topic-card-desc {
  font-size: small;

  padding-left: 3px;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.topic-card-button {
  display: flex;

  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #cfcfcf, #f6f6f6);
  box-shadow: 10px 10px 20px #c4c4c4, -10px -10px 20px #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  color: #000;
  transition: color 0.7s;
  cursor: pointer;
}
.card-button {
  display: flex;
  justify-content: center;
  padding: 8px 10px;
  border-radius: 9px;
  
  cursor: pointer;
  /* border: #232a2a solid 0.1px; */

  box-shadow: 2px 2px 6px #02010700, -2px -2px 6px #06051b00;
  transition: all 0.4s ease-in-out;
}
.card-button:hover {
  color: #807b7b;
  box-shadow: 0px 0px 3px #1b1417, 0px 0px 3px #06051b;
}
.card-button-selected {
  background-color: rgb(25, 25, 29);
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
/* Buttons */
.scroll-up-button{
  
   background-color: #080622;
    /* font-size: 20px; */
    padding: 20px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    border-radius: 10px;
    color: white;
    transition: all 0.4s;
    cursor: pointer;
    margin: 0px 65px;
    /* width: fit-content; */
    justify-self: center;
    /* position: relative; */
    /* left: 70px; */
    /* right: 50px; */
    text-align: center;
}
.scroll-up-button:hover{
  color:#4d4b4b;
  background-color: rgb(4, 4, 36);
}
.get-started-btn {
  background-color: blue;
  font-size: 20px;
  padding: 23px 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  border-radius: 10px;
  color: white;
  transition: transform 0.7s, color 0.7s;
  cursor: pointer;
}
.get-started-btn:hover {
  transform: scale(1.05);
  background-color: rgb(31, 31, 132);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5px;
}
.logo {
  background-image: url(../thumbnails/logo.svg);
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  justify-content: center;
}
.logo-name {
  font-size: 1.8rem;
  font-family: "Playfair Display", serif;
  color: rgb(255, 255, 255);
}
.right-header {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.features {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.feature-container {
  display: flex;
  flex-direction: column;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature-selected {
  color: #d91717;
  background-color: #f7f6f6;
  padding: 2px 10px;
  border-radius: 6px;
}
.feature-label {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  color: rgb(192, 182, 182);
}

.tab-selected {
  color: #ebb462;
}
.tab-unselected {
  color: #bebebe;
  display: none;
}
.hamburger {
  background-image: url("https://cdn4.iconfinder.com/data/icons/two-colour-thin-minimalist-design-volume-1-32-elem/110/01-02-menu-512.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  filter: invert();
  transition: all 0.7s;
}
.hamburger-image,
.feature-label:hover {
  cursor: pointer;
  color: #fffffe;
}
.hamburger-image:hover {
  width: 42px;
  height: 42px;
  cursor: pointer;
  background-blend-mode: color-dodge;
  background-color: #f7f6f682;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: floralwhite;
}

.myvh {
  background-image: url("../thumbnails/digideer.jpeg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.box {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  flex: 1;
  border: 1px solid black;
  padding: 20px;
  background-color: rgb(12, 12, 35);
  border-radius: 15px;
  color: white;
  gap: 6px;
  font-weight: 500;
  overflow: hidden;
}
.box-section {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 19px;
}
.big-box {
  height: 100%;
  max-width: 1402px;
  /*background-color: rgb(214, 215, 215);
    https://images.hdqwalls.com/wallpapers/fox-minimal-qw.jpg
    https://images.hdqwalls.com/wallpapers/one-moment-4j.jpg
    https://images.hdqwalls.com/wallpapers/boy-with-dog-o0.jpg
    https://images.hdqwalls.com/download/valley-river-minimal-8k-xo-1366x768.jpg
    https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4bb75b1d-3cb5-445c-bd55-682084d96bbf/dbbacbz-4f11d070-c282-4ff3-906d-5e13eb2e578d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRiYjc1YjFkLTNjYjUtNDQ1Yy1iZDU1LTY4MjA4NGQ5NmJiZlwvZGJiYWNiei00ZjExZDA3MC1jMjgyLTRmZjMtOTA2ZC01ZTEzZWIyZTU3OGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZaOae4jaIfctIOYB3HC9EkaAiAoi0endJC1AQKXeEac
    thumbnails/deer.jpg
    https://www.99images.com/download-image/1027578/1920x995
  https://free4kwallpapers.com/uploads/originals/2020/07/05/chillin-fox-wallpaper.jpg
    */
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  padding: 0px 10px;
}
.orange-text {
  color: white;
  background-color: orangered;
  padding: 5px 10px;
  border-radius: 7px;
}
.topic-desc {
  font-size: 1.2rem;
  font-family: "Bodoni Moda", serif;
  color: white;

  overflow: scroll;
}
.align-text-end {
  text-align: end;
}
.section-row {
  display: flex;
  height: 100%;
}
.white {
  color: white;
}
.grayed {
  color: rgb(102, 99, 99);
}
.fr {
  display: flex;
}
.fc {
  display: flex;
  flex-direction: column;
}
.alltopictopics {
  flex: auto;
}
.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 0px;
  text-align: end;
  background-color: rgb(14, 15, 21);
  border-radius: 10px;
  padding: 15px;
  gap: 5px;
}
.menu-item {
  display: flex;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.menu-item-selected {
  display: flex;
  color: #fff;
  background-color: rgb(14, 19, 35);
  border-radius: 10px;
  padding: 10px;
}

.orange-text-with-size {
  font-size: 1.2rem;
  color: white;
  background-color: orangered;
  padding: 1px 10px;
  border-radius: 7px;
}

/* generic styling */
.flex-column {
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: white;
  gap: 5px;
  position: fixed;
  left: 15px;
  top: 15%;
  bottom: 50%;
}

.time {
  writing-mode: vertical-lr;
  text-orientation: sideways-left;
  margin-right: 18px;
}
.left-header {
  flex: 1;
  background-color: #cdcacab5;
  width: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: #000000 1px solid;
  margin-right: 20px;
}
.circle {
  width: 15px;
  height: 30px;
  background-color: inherit;
  border-radius: 30px;
}
.unselected-circle {
  width: 10px;
  height: 10px;
  background-color: inherit;
  border-radius: 30px;
}
.footer {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 700px) {
  .d-flex-row {
    display: flex;
    flex-direction: column;
  }
  .features {
    display: none;
  }
  .d-center-text {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .d-top {
    margin-top: 160px;
  }
  .d-left-to-center {
    width: 100%;
    display: flex;
    line-height: 1.5;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .d-center-div {
    justify-content: center;
    align-items: center;
  }
  .d-off {
    display: none;
  }
  .d-row-to-column {
    flex-direction: column;
    align-items: center;
  }
  .header-and-content {
    margin: 0;
    overflow: hidden;
  }

  /* font sizes */
  .fonts-title {
    font-size: 72px;
  }

  /* buttons */
  .get-started-btn {
    font-size: 17px;
    padding: 10px 20px;
    width: 120px;
  }

  .right-tech-desc {
    text-align: center;
  }
}

@media (max-width: 1234px) {
  .d-margin {
    margin-left: 30px;
    margin-right: 30px;
  }
  .alltopiccontent {
    display: grid;
    grid-template-columns: auto;
    /* justify-content: center; */
  }
  .alltopiccard {
    display: none;
    
  }
  #parallax-world-of-ugg .title {
    background: #afb3f1;
    padding: 60px 0px;
    margin: 0 auto;
    text-align: center;
}
.bio-section {
  margin: 0px;
      width: -webkit-fill-available;
}
}

@media (max-width: 834px) {
  .two-sections-flex {
    flex-wrap: wrap;
  }
  .alltopictopics {
    width: 290px;
  }
  .two-sections-flex {
   flex-wrap: wrap; 
    margin: 30px 30px;
    justify-content: center;
    gap: 20px;
        overflow: scroll;
  }
  .alltopiccontent {
    display: grid;
    grid-template-columns: auto auto;
  }
  .bottom-container {
    grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
    padding: 26px 10px 20px 10px;
   
}
.two-sections-row {
  display: flex;
    justify-content: center;
    height: 300px;
    padding-top: 189px;
    padding-bottom: 141px;
    gap: 70px;
}
}
@media (max-width: 624px) {
  .alltopiccontent {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media (max-width: 613px) {
  .alltopiccontent {
    display: grid;
    grid-template-columns: auto;
  }
}
/* @media (max-width: 430px) {
  .fonts-title {
    font-size: 52px;
      }
} */

/* animations */
.birds {
  top: 0px;
  right: 0px;
  filter: drop-shadow(10px);
  position: absolute;
  background: linear-gradient(to top, #030310, #000000, #1a07eb);
  z-index: -100;
}
.tech-small-title {
  color: rgb(185, 188, 192);
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}
.tech-title {
  line-height: 1.4;
  font-size: 35px;
  font-weight: bold;
  color: white;
}
.tech-box-title {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.tech-desc {
  color: rgb(242, 242, 243);
  font-size: 17px;
  line-height: 130%;
}
.two-box-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  column-gap: 5px;

  overflow: hidden;
}
.cross-section-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
.company-icon-container {
  width: 40px;
  height: 40px;
  filter: brightness(2005%);
}
.company-icon {
  filter: invert(75%);
  width: 100%;
  height: 100%;
}

.closer-row {
  margin: 120px 0px;
  display: flex;
  justify-content: center;
}
.closer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 300px;

  text-align: center;
  height: 190px;
}


/* BIO_TEXT */

a {
  color: lightsalmon;
}

p,
blockquote {
  line-height: 1.6em;
}

p {
  margin: 0 0 2em;
}

blockquote {
  border-left: 1px solid #ddd;
  margin: 0 0 1em;
  padding: 0 0 0 1.5em;
}

h1,
h2 {
  font-weight: 200;
  color: #666;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.4em;
  margin: 0;
}

.date {
  color: #ccc;
  font-weight: 200;
}

.canvas {
  max-width: 80em;
  margin: 0 auto;
  padding: 0 2em 10em;
}

.page-header {
  padding: 2em 0 1em;
  margin: 0 0 4em;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.page-header h1 {
  margin: 0;
  padding: 0 0 .2em;
  display: inline-block;
}

.page-header .summary {
  letter-spacing: .2em;
  color: #999;
}

article {
  margin: 0 0 6em;
  padding: 0 0 6em;
  box-sizing: border-box;
  position: relative;
}

article:after {
  content: '';
  display: block;
  position: absolute;
  width: 30em;
  left: 50%;
  font-size: 1em;
  border-bottom: 1px solid #ccc;
  margin-left: -15em;
  bottom: 0;
  z-index: 1;
}

article:before {
  content: '\021D5';
  display: block;
  position: absolute;
  text-align: center;
  color: #ccc;
  font-size: 1.4em;
  top: 100%;
  left: 50%;
  width: 1.6em;
  height: 1.5em;
  padding: .1em 0 0;
  margin: -.8em 0 0 -.8em;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 2;
}

article:last-child:after,
article:last-child:before {
  display: none;
}

@media screen and (min-width: 40em) {
  .sticky .stick {
    position: fixed;
    top: 0;
    transition: opacity .5s;
    opacity: 1;
    width: calc(45% - 5.8em);
  }

  .sticky.hide .stick {
    opacity: 0;
  }

  article {
    position: relative;
  }

  article {
    display: table;
  }

  article .content,
  article header {
    display: table-cell;
    vertical-align: top;
  }

  article .content {
    font-size: 1.2em;
  }

  article header {
    width: 45%;
    padding-right: 4em;
  }
}
