/* Colors */
:root {
  --my-background-color: #03071d;
  --my-title-color: #03071d;
  --my-desc-color: #03071d;
  --my-uns-btn-color: #03071d;
  --my-sel-btn-color: #03071d;
  --my-logo-color: #ffffff;
  --my-brand-color: rgb(255, 99, 71);

  --marginbetween: 20px;
  --bodymargin: 0px 70px;
  }
.white {
  color: aliceblue;
}
.black {
  color: black;
}

/* Gradients */
.text-gradient {
  background: linear-gradient(#af7777, #2e3ffb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Body Element */
body {
  background-image: url("../thumbnails/digideer.jpeg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}

.content {
  height: 100%;
  padding:0px 10px;
  padding-top: 160px;
  z-index: 100;
  overflow: scroll;
  scroll-behavior: smooth;
}

/* layout */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}
.d-flex-row {
  display: flex;
}
.d-center-text {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.d-left-to-center {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.d-row-to-column {
  flex-direction: row;
}
.center-row {
  justify-content: center;
}
.center-column {
  align-items: center;
}
.center-div {
  justify-content: center;
  align-items: center;
}
.asc {
  align-self: center;
}
.jsc {
  justify-self: center;
}
.jcsb {
  justify-content: space-between;
}
.jcc {
  justify-content: space-between;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}

/* Padding and Space */
.default-padding {
  padding: 10px 20px;
}

/* Buttons */

.get-started-btn {
  background-color: blue;
  font-size: 20px;
  padding: 14px 35px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  border-radius: 10px;
  color: white;
  transition: transform 0.7s, color 0.7s;
  cursor: pointer;
}
.get-started-btn:hover {
  transform: scale(1.05);
  background-color: rgb(31, 31, 132);
}

.header {
  position: fixed;
  left:0;
  right:0;
  display: flex;
  height: 80px;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 40px;
  border-bottom: #bbb3b3 1px solid;
  z-index: 200;

}
.header-and-content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
  "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1402px;
  margin: 10px 40px;
  height: 100%;
  
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5px;
}
.logo {
  background-image: url(../thumbnails/cloudcode.png);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  align-items: bottom;
  padding-top: 10px;
  justify-content: center;
}
.logo-name {
  font-size: 1.8rem;
  font-family: "Playfair Display", serif;
  color: rgb(255, 255, 255);
}
.right-header {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  
}
.features {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.feature-container {
  display: flex;
  flex-direction: column;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature-selected {
  color: #fff;
  background-color: chocolate;
  padding: 2px 8px;
  border-radius: 4px;
}
.feature-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  font-size: 16px;
  color:rgb(192, 182, 182);
}

.tab-selected {
  color: #ebb462;
}
.tab-unselected {
  color: #bebebe;
  display: none;
}
.hamburger{
    background-image: url("https://cdn4.iconfinder.com/data/icons/two-colour-thin-minimalist-design-volume-1-32-elem/110/01-02-menu-512.png");
    background-size: cover;
  width: 40px;
  height: 40px;
  filter: invert();
  transition: all 0.7s;
}
.hamburger-image,
.feature-label:hover {
  cursor: pointer;
  color: #fffffe;
}
.hamburger-image:hover {
  width: 42px;
  height: 42px;
  cursor: pointer;
  background-blend-mode: color-dodge;
  background-color: #f7f6f682;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.myvh {
  background-image: url("../thumbnails/digideer.jpeg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.big-box {
  height: 100%;
  max-width: 1402px;
  /*background-color: rgb(214, 215, 215);
    https://images.hdqwalls.com/wallpapers/fox-minimal-qw.jpg
    https://images.hdqwalls.com/wallpapers/one-moment-4j.jpg
    https://images.hdqwalls.com/wallpapers/boy-with-dog-o0.jpg
    https://images.hdqwalls.com/download/valley-river-minimal-8k-xo-1366x768.jpg
    https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4bb75b1d-3cb5-445c-bd55-682084d96bbf/dbbacbz-4f11d070-c282-4ff3-906d-5e13eb2e578d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRiYjc1YjFkLTNjYjUtNDQ1Yy1iZDU1LTY4MjA4NGQ5NmJiZlwvZGJiYWNiei00ZjExZDA3MC1jMjgyLTRmZjMtOTA2ZC01ZTEzZWIyZTU3OGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZaOae4jaIfctIOYB3HC9EkaAiAoi0endJC1AQKXeEac
    thumbnails/deer.jpg
    https://www.99images.com/download-image/1027578/1920x995
  https://free4kwallpapers.com/uploads/originals/2020/07/05/chillin-fox-wallpaper.jpg
    */
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  padding: 0px 10px;
}
.orange-text {
  color: white;
  background-color: orangered;
  padding: 5px 10px;
  border-radius: 7px;
}
.white {
  color: white;
}
.grayed {
  color: rgb(102, 99, 99);
}
.fr {
display: flex;
}
.fc {
  display: flex;
  flex-direction: column;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 0px;
  text-align: end;
  background-color: rgb(14, 15, 21);
  border-radius: 10px;
  padding: 15px;
  gap: 5px;
}
.menu-item {
  display: flex;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.menu-item-selected {
  display: flex;
  color: #fff;
  background-color: rgb(14, 19, 35);
  border-radius: 10px;
  padding: 10px;
}

.orange-text-with-size {
  font-size: 1.2rem;
  color: white;
  background-color: orangered;
  padding: 1px 10px;
  border-radius: 7px;
}



/* generic styling */
.flex-column {
  display: flex;
  flex-direction: column;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: white;
    gap: 5px;
    position: fixed;
    left: 15px;
    top: 15%;
    bottom: 50%;
  }
  
  .time {
    writing-mode: vertical-lr;
    text-orientation: sideways-left;
    margin-right: 18px;
  }
  .left-header {
    flex: 1;
    background-color: #cdcacab5;
    width: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: #000000 1px solid;
    margin-right: 20px;
  }
  .circle {
    width: 15px;
    height: 30px;
    background-color: inherit;
    border-radius: 30px;
  }
  .unselected-circle {
    width: 10px;
    height: 10px;
    background-color: inherit;
    border-radius: 30px;
  }

  @media (max-width: 700px) {
  .d-flex-row {
    display: flex;
    flex-direction: column;
  }

  .d-center-text {
   
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .d-top {
    margin-top:160px;
  }
  .d-left-to-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
  }

  .d-center-div {
    justify-content: center;
    align-items: center;
    
  }
  .d-off {
    display: none;
  }
  .d-row-to-column {
    flex-direction: column;
    align-items: center;
  }
  .header-and-content {
  margin:0;
  

  }

}


/* animations */
.birds {
  top: 0px;
  right: 0px;
  position: absolute;
  z-index: 1;
}