.intro-background {
  background-image: url(../waves/first.svg);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-blend-mode: color-dodge;
  background-position: bottom;
  background-repeat: repeat-x;
  margin-top: 60px;
}

.topic-section-row {
  display: flex;
  height: 600px;
}

.topic-title-desc {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}
.topic-title {
  font-style: normal;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 4.5rem;
  background: linear-gradient(#f60000, #9fa5e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.after-button-text {
  color: rgba(238, 230, 230, 0.7);
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  margin: 0px;
  max-width: 380px;
}
.thai {
  display: flex;
  font-size: 52px;
  color: rgba(255, 255, 255, 0.041);
}
.join-button:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: rgb(59, 80, 200);
  color: black;
  padding: 10px 23px;
}

.tech-stack-row {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  gap: 30px;
  color: white;
  height: 300px;
  margin: 0px 40px;
  padding: 120px 0px;
}
.tech-info {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  max-width: 380px;
  gap: 20px;
}

.tech-icon-row {
  flex: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px);
  padding: 10px 10px;

  border-radius: 50px;
  box-shadow: 5px 5px 10px #010107, -5px -5px 10px #05031d;
}
.tech-icon-container {
  display: flex;
  width: 40px;
  height: 40px;
  /* background-color: rgb(3 2 18); */
  border-radius: 50%;
  background: #030212;
  box-shadow: 5px 5px 10px #02020e, -5px -5px 10px #040216;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: rgb(77 75 75 / 14%) solid 0.4px;
}
.tech-icon {
  width: max-content;
  height: 100%;
}
/*  MARK:section     */

.box-section {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 9px;
}
.box {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  flex: 1;
  border: 1px solid black;
  padding: 20px;
  background-color: rgb(12, 12, 35);
  border-radius: 15px;
  color: white;
  gap: 6px;
  font-weight: 500;
  overflow: hidden;
}

.tech-info-box {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 400px;
  gap: 10px;
}
.tech-button {
  width: fit-content;
  color: rgb(213, 206, 206);
  padding: 6px 16px;
  border: rgba(17, 33, 60, 0.221) solid 1px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222760;
}
.tech-button:hover {
  cursor: pointer;
  background-color: #575fcf;
  color: white;
}

/* section  */
.projects-grid {
  backdrop-filter: blur(20px);
  /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
  /* padding: 20px 70px; */
  overflow: scroll;
  background: rgb(4 3 109 / 0%);
  box-shadow: rgb(255 255 255 / 7%) 0px 0px 0px 0.5px inset;
  padding: 15px;
  margin-bottom: 60px;
  border-radius: 20px;
}

.project-row {
  display: grid;

  gap: 20px;

  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}
.margin-btm {
  margin-bottom: 40px;
}
.project-grid-box {
  background-repeat: no-repeat;
  background-color: #14181f;
  background-position: left;
  background-size: cover;
  border-radius: 50px;
  background: #03020d00 !important;
  box-shadow: 5px 5px 10px #010105, -5px -5px 10px #050315;
  max-width: 200px;
  flex-basis: 150px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: #ffffff0e solid 0.1px; */
  cursor: pointer;
  height: 300px;
  border-radius: 12px;
  position: relative;
  transition: transform 0.3s, box-shadow 0.8s;
}
.project-grid-box:hover {
  transform: scale(1.02);
  background: #03020d;
  box-shadow: 2px 2px 10px #010105, -2px -2px 10px #18181c;
}
.project-title {
  font-style: normal;
  font-size: 24px;
  /* line-height: 140%; */
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Text below name of project */
.project-small-title {
  color: rgb(173, 168, 168);
  font-size: 12px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
}
.blur-background {
  /* background-color: tomato; */
  border-radius: 0.3em;
  padding: 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px #010105, -2px -2px 10px #41414a99;
  backdrop-filter: blur(21px);
}
.right-tech-desc {
    color: rgb(242, 242, 243);
    font-size: 17px;
    line-height: 130%;
    text-align: right;
}
.orange-background {
  background-color: tomato;
  border-radius: 0.2em;
  padding: 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-lang-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0px;
  right: 0px;
  margin: 10px;
  height: 20px;
  width: 20px;
  padding: 8px;
  border-radius: 50%;
  background: #161a21;
}
.project-lang-icon {
  height: 20px;
  width: 20px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.project-svg {
  width: 120px;
  height: 120px;
  /* backdrop-filter: blur(22px);
  border: #2f2a2a49 solid 1px;
  border-radius: 50%; */
}
.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
}
.falling-stars-wrapper {
  background-image: url(../waves/falling-stars.svg);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: auto;
}
.footer-background {
  background-image: url(../waves/footer-mine.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

@media (max-width: 436px) {
    .header-background {
    background-image: url(../waves/header-stars.svg);
    background-size: contain;
    /* background-position: center; */
    height: 600px;
    position: absolute;
    width: 100vw;
    top: 0px;
}
.portfolio-first-section {
padding-top: 123px;
}
.bottom-container {
    
    padding: 0; 
    flex-direction: row;
    display: flex !important;
    overflow: scroll;
}
.undersea-wrapper {
  overflow: hidden;
  margin-top: -112px;
}
.intro-background {
  margin-top: 171px;
}
.blur-background {
      padding: 4px 23px;
}
.projects-grid {
  height: 360px;
  overflow: scroll;
}
.project-row {
    display: flex;
   
    flex-direction: row;
}
.project-grid-box {
  width: 169px;
}
.footer {
  flex-direction: row !important;
    margin-top: -30px;
}
.closer-row {
  margin: 99px 0px;
}
}