
.topic-section-row {
  display: flex;
  height: 800px;
 
}

.topic-title-desc {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}
.topic-title {
  font-style: normal;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 4.5rem;
  background: linear-gradient(#f60000, #9fa5e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topic-desc {
  font-size: 1.4rem;
  color: white;
  width: 90%;
  overflow: scroll;
}


.after-button-text {
  color: rgba(238, 230, 230, 0.7);
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  margin: 0px;
  max-width: 380px;
}
.thai {
  display: flex;
  font-size: 52px;
  color: rgba(255, 255, 255, 0.041);
}
.join-button:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: rgb(59, 80, 200);
  color: black;
  padding: 10px 23px;
}

.tech-stack-row {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  color: white;
  height: 300px;
}
.tech-info {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  max-width: 380px;
  gap: 20px;
}
.tech-small-title {
  color: rgb(185, 188, 192);
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}
.tech-title {
  color: rgb(255, 255, 255);
  font-size: 1.7em;
}
.tech-desc {
  color: rgb(242, 242, 243);
  font-size: 0.9em;
}
.box:first-child,
.box:nth-child(2) {
  font-size: 14px;
}
.tech-icon-row {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tech-icon-container {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgb(19, 29, 59);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: rgba(77, 75, 75, 0.24) solid 0.4px;
}
.tech-icon {
  width: max-content;
  height: 100%;
}
/*  MARK:section     */
.two-box-row {
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  column-gap: 5px;

 
  overflow: hidden;
  
}
.box-section {
 
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 
  gap: 9px;
}
.box {
  display: flex;
  flex-direction: column;
 
  flex-basis: 250px;
  border: 1px solid black;
  padding: 20px;
  background-color: rgb(12, 12, 35);
  border-radius: 15px;
  color: white;
  gap: 6px;
  font-weight: 500;
  overflow: hidden;

}
.tech-info-box {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 400px;
  gap: 10px;
}
.tech-button {
  width: fit-content;
  color: rgb(213, 206, 206);
  padding: 6px 16px;
  border: rgba(17, 33, 60, 0.221) solid 1px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222760;
}
.tech-button:hover {
  cursor: pointer;
  background-color: #575fcf;
  color: white;
}

/* section  */
.projects-grid {
  backdrop-filter: blur(20px);
  /*grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));*/

  /* padding: 20px 70px; */
  overflow: scroll;

  margin-bottom: 60px;
  border-radius: 20px;
}


.project-row {
  display: grid;
  padding: 30px;
  gap: 20px;

  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  
}
.margin-btm {
  margin-bottom: 40px;
}
.project-grid-box {
  background-repeat: no-repeat;
  background-color: #14181f;
  background-position: left;
  background-size: cover;

  flex-basis: 150px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: solid 1px #000000d4;
  cursor: pointer;
  height: 300px;
  border-radius: 12px;
  position: relative;
  transition: transform 0.3s, box-shadow 0.8s;
}
.project-grid-box:hover {
  transform: scale(1.02);
  box-shadow: 0px 5px 10px #fc070752;
}
.project-title {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  background: radial-gradient(#ff0000, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Text below name of project */
.project-small-title {

  color: rgb(173, 168, 168);
  font-size: 12px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;

}

.project-grid-box:nth-child(1) {
  text-transform: uppercase;
  font-size: 55%;
}
.project-grid-box:nth-child(2) {
  text-transform: uppercase;
  font-size: 0px;
}

.orange-background {
  background-color: tomato;
  border-radius: 0.2em;
  padding: 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-lang-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0px;
  right: 0px;
  margin: 10px;
  height: 20px;
  width: 20px;
  padding: 8px;
  border-radius: 50%;
  background: #161a21;
}
.project-lang-icon {
  height: 20px;
  width: 20px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.project-svg {
  width: 120px;
  height: 120px;
  backdrop-filter: blur(22px);
  border: #2f2a2a49 solid 1px;
  border-radius: 50%;
}
.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cross-section-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10em;
  
}
.company-icon-container {
  width: 40px;
  height: 40px;
  filter: brightness(2005%);
}
.company-icon {
  filter: invert(75%);
  width: 100%;
  height: 100%;
}
.closer-row {
  display: flex;
  justify-content: center;
}
.closer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 300px;

  text-align: center;
  height: 190px;
}

