body {
  
}
.big-boox {
  height: 100vh;
  /*background-color: rgb(214, 215, 215);
  https://images.hdqwalls.com/wallpapers/fox-minimal-qw.jpg
  https://images.hdqwalls.com/wallpapers/one-moment-4j.jpg
  https://images.hdqwalls.com/wallpapers/boy-with-dog-o0.jpg
  https://images.hdqwalls.com/download/valley-river-minimal-8k-xo-1366x768.jpg
  https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4bb75b1d-3cb5-445c-bd55-682084d96bbf/dbbacbz-4f11d070-c282-4ff3-906d-5e13eb2e578d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRiYjc1YjFkLTNjYjUtNDQ1Yy1iZDU1LTY4MjA4NGQ5NmJiZlwvZGJiYWNiei00ZjExZDA3MC1jMjgyLTRmZjMtOTA2ZC01ZTEzZWIyZTU3OGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZaOae4jaIfctIOYB3HC9EkaAiAoi0endJC1AQKXeEac
  
  thumbnails/deer.jpg
  https://www.99images.com/download-image/1027578/1920x995
https://free4kwallpapers.com/uploads/originals/2020/07/05/chillin-fox-wallpaper.jpg



  */

  background-image: url("https://images.hdqwalls.com/download/mountains-retreat-minimal-beautiful-4k-vl-3840x2160.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
    overflow: scroll;
    padding: 0px 10px;
    
}
.body-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 40px;
 
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: white;
  gap: 5px;
  position: fixed;
  left:15px;
  top:15%;
  bottom:50%;
}

.time {
  writing-mode: vertical-lr;
  text-orientation: sideways-left;
  margin-right: 18px;
}
.left-header {
  flex: 1;
  background-color: #cdcacab5;
  width: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: #000000 1px solid;
  margin-right: 20px;
}
.circle {
  width: 15px;
  height: 30px;
  background-color: inherit;
  border-radius: 30px;
}
.unselected-circle {
  width: 10px;
  height: 10px;
  background-color: inherit;
  border-radius: 30px;
}
.overview-and-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
height: 100%;
  width: 100%;
}
.topic-and-lesson {
  display: flex;
  justify-content: space-between;
}
.topic-container {
  flex: 1;
  display: flex;
  padding-right: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.topic-title-desc {
  font-size: 26px;
  color: rgb(0, 0, 0);
}
.topic-title {
  font-size: 70px;
  background: linear-gradient(#f60000, #9fa5e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.topic-desc {
  font-size: 20px;
  color: white;
  width: 100%;
  overflow: scroll;
}
.next-buttons {
  display: flex;
  gap: 20px;
}
.topic-button {
  font-size: 22px;
  background-color: blue;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  transition: all 0.7s, color 0.7s;
  cursor: pointer;
}
.topic-button:hover {
  background-color: rgb(41, 41, 106);
}

.thai {
  display: flex;
  font-size: 52px;
  color: rgba(255, 255, 255, 0.041);
}
.join-button:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: rgb(59, 80, 200);
  color: black;
  padding: 10px 23px;
}
.topic-footer {
  flex: 0.1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}


.ide-build {
  height: 350px;
  flex-basis: 490px;
  padding: 20px;
  margin: 40px 0px;
  font-size: 20px;
  font-family: monospace;
  position: relative;
  color: white;
  border-radius: 17px;
  display: flex;
}
.ide-blur {
  backdrop-filter: blur(12px);
  border: rgb(210, 202, 202) solid 1px;
}

.ide-gloss {
  backdrop-filter: blur(12px);
  border: rgba(88, 87, 87, 0.74) solid 1px;
}
.ide-dark {
  background-color: #121212;
  border: rgba(239, 237, 237, 0) solid 1px;
}
.ide-black {
  background-color: rgb(0, 0, 0);
}
.ide {
  background-color: rgb(36, 33, 33);
  /* background-image: ("https://images.hdqwalls.com/wallpapers/boy-with-dog-o0.jpg"); */
  /* background-size: cover; */
  /* background-position: left; */
  /* background-repeat: no-repeat; */
  color: rgb(255, 255, 255);
}
.ide-button-container {
  position: absolute;
  display: flex;
  bottom: 0px;
  right: 0px;
  margin: 10px;
  gap: 8px;
}
.ide-prompt {
  background-color: rgb(6, 6, 6);
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  border-radius: 5px;
  width: fit-content;
  color: rgb(242, 238, 238);
}
.ide-color {
  position: absolute;
  margin: 10px;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  border-radius: 5px;
  background: #322f2f;

  cursor: pointer;
}
.ide-button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(50, 47, 45);
  cursor: pointer;
}
.ide-button-nobg {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.ide-image {
  border-radius: 8px;
  height : 200px;
  width: 100%;
  background-image: url("https://media.geeksforgeeks.org/wp-content/uploads/20191010170332/Untitled-Diagram-183.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.lesson {
  flex: 1;
  padding: 5px 2px;
  border-radius: 10px;
  padding-bottom: 40px;
  overflow: scroll;
}
.typing {
  background-color: #000000;
  border-radius: 11px;
  padding: 9px 16px;
  animation: all 2s;
  
}
.old {
  padding: 9px 16px;
  color: #948f8f;
 
}
.bottom-container {
 display:grid;
 grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  padding: 10px 0px;
  gap: 15px;
  border-radius: 20px;

}
.topic-card-build {
  flex-direction: column;
  height: 260px;

min-width:180px;
  padding: 10px;
  gap: 1%;
  border-radius: 13px;
  z-index: 11;
}
.topic-card {
  background: #fdfdfd;
  color: #000000;
  border: 1px solid #e0dbdb;
}
.topic-card-blur {
  backdrop-filter: blur(12px);
  border: rgb(228, 225, 225) solid 1px;
  color: white;
}
.topic-card-gloss {
  backdrop-filter: blur(32px);
  color: #ffffff;
  border: rgba(184, 177, 177, 0.153) solid 1px;
}
.topic-card-dark {
  background-color: #121212;
  color: #ffffff;
  border: rgba(184, 177, 177, 0) solid 1px;
}
.topic-card-black {
  background: #020202;
  color: #ffffff;
  border: 1px solid #0d0d0d;
}
.topic-card-selected {
  display: flex;
  flex-direction: column;
  height: 260px;
  min-width: 190px;
  padding: 10px;
  gap: 1%;
  border-radius: 13px;
  z-index: 11;
}
.topic-picture {
  background-color: rgb(107, 68, 68);
  height: 70px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url("https://images.hdqwalls.com/wallpapers/one-moment-4j.jpg");
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
}
.topic-info {
  flex: 1;
  display: flex;
  flex-direction: column;

  gap: 9px;
}
.topic-card-title-desc {
  font-size: medium;
  color: #f8f4f4;
}
.topic-card-title {
  text-transform: uppercase;
  font-size: auto;
  color: #fefdfd;
  width: fit-content;
}
.topic-card-ln {
  color: #ebb462;
}
.topic-card-desc {
  font-size: small;

  padding-left: 3px;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.topic-card-button {
  display: flex;

  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #cfcfcf, #f6f6f6);
  box-shadow: 10px 10px 20px #c4c4c4, -10px -10px 20px #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  color: #000;
  transition: color 0.7s;
  cursor: pointer;
}

.card-button {
  background-color: blue;
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.card-button-selected {
  background-color: rgb(25, 25, 29);
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.re-visit {
  background-color: rgb(45, 45, 46);
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 10px;
  color: rgb(200, 195, 195);
  cursor: pointer;
}
.card-button:hover,
.re-visit:hover,
.card-button-selected:hover {
  background-color: orangered;
  color: floralwhite;
}
.orange-text {
  font-size: 1.2rem;
  color: white;
  background-color: orangered;
  padding: 1px 10px;
  border-radius: 7px;
}
.button {
  background-color: #f7f6f6;
  padding: 10px 20px;
  border-radius: 19px;
}
@media (max-width: 50rem) {
  .features {
    display: none;
  }
  .left {
    display: none;
  }
  .body-contain {
    overflow: scroll;
  }

  .body-contain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .topic-container {
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    text-align: center;
  }
  .ide {
    width: fit-content;
    height: fit-content;
  }

  .bottom-container {
    display: flex;
    overflow: visible;
    flex-wrap: wrap;
  }
  .topic-card {
    flex: 30%;
    box-shadow: none;
  }
  .topic-and-lesson {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.blink {
  color: rgb(255, 255, 255);
  animation: 1.5s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
    color: rgb(234, 138, 29);
  }
}
@keyframes led {
  0% {
    visibility: hidden;
    background-color: rgba(19, 54, 180, 0.978);
  }
 
  100% {
    visibility: visible;
    color: rgb(193, 205, 194);
    
  }
}
