.topic-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.topic-title-desc {
  font-size: 26px;
  color: rgb(0, 0, 0);
}
.topic-title {
  font-size: 70px;
  background: linear-gradient(#f60000, #9fa5e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.topic-desc {
  font-size: 20px;
  color: white;
  width: 100%;
  overflow: scroll;
}
.next-buttons{
  display: flex;
  gap:20px;
}
.topic-button {
  font-size: 22px;
  background-color: blue;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  transition: all 0.7s, color 0.7s;
  cursor: pointer;
}
.topic-button:hover {
  background-color: rgb(41, 41, 106);
}

.thai {
  display: flex;
  font-size: 52px;
  color: rgba(255, 255, 255, 0.041);
}
.join-button:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: rgb(59, 80, 200);
  color: black;
  padding: 10px 23px;
}
.topic-footer {
  flex: 0.1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.body-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 40px;
  height: 100vh;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  color: white;
  gap: 5px;
}

.time {
  writing-mode: vertical-lr;
  text-orientation: sideways-left;
  margin-right: 10px;
}
.left-header {
  flex: 1;
  background-color: #cdcacab5;
  width: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: #000000 1px solid;
  margin-right: 20px;
}
.circle {
  width: 15px;
  height: 30px;
  background-color: inherit;
  border-radius: 30px;
}
.unselected-circle {
  width: 10px;
  height: 10px;
  background-color: inherit;
  border-radius: 30px;
}
.overview-and-cards {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  height: 100%;
  width: 100%;
}
.bottom-container {
  display: flex;
  padding: 20px 0px;
  gap: 15px;
  border-radius: 20px;
  overflow: scroll;
  width: 100%;
  position: relative;
}
.middle-line{
position: absolute;

  background-color: #ff0707;
  align-items: center;
  border: #fb0303 1px solid;
top: 50%;
width: 100%;
bottom: 50%;
left: 0px;
right: 0px;
z-index: 10;
}

.topic-and-lesson {
  display: flex;
  gap: 5%;
}
.ide-blur {
  backdrop-filter: blur(12px);
  color: white;
  border-radius: 17px;
  display: flex;
  border: rgb(184, 177, 177) solid 1px;
  height: 350px;
  flex-basis: 490px;
  padding: 20px;
  margin: 40px 10px;
  font-size: 20px;
  font-family: monospace;
  position: relative;
}

.ide-gloss {
  backdrop-filter: blur(12px);
  color: white;
  border-radius: 17px;
  display: flex;
  border: rgba(184, 177, 177, 0.153) solid 1px;
  height: 350px;
  flex-basis: 490px;
  padding: 20px;
  margin: 40px 10px;
  font-size: 20px;
  font-family: monospace;
  position: relative;
}
.ide-dark {
  background-color: #121212;
  color: white;
  border-radius: 17px;
  display: flex;
  border: rgba(184, 177, 177, 0) solid 1px;
  height: 350px;
  flex-basis: 490px;
  padding: 20px;
  margin: 40px 10px;
  font-size: 20px;
  font-family: monospace;
  position: relative;
}
.ide-black {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 17px;
  display: flex;
  height: 350px;
  flex-basis: 490px;
  padding: 20px;
  margin: 40px 10px;
  font-size: 20px;
  font-family: monospace;
  position: relative;
}
.ide {
  background-color: #212020;
  color: rgb(255, 255, 255);
  border-radius: 17px;
  display: flex;
  height: 350px;
  flex-basis: 490px;
  padding: 20px;
  margin: 40px 10px;
  font-size: 20px;
  font-family: monospace;
  position: relative;
}
.ide-button-container {
  position: absolute;
  display: flex;
  bottom: 0px;
  right: 0px;
  margin: 10px;
  gap: 8px;
}
.ide-color {
  position: absolute;
  margin: 10px;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(50, 47, 45);
  cursor: pointer;
}
.ide-button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(50, 47, 45);
  cursor: pointer;
}
.lesson {
  flex: 1;
  padding: 5px 2px;
  border-radius: 10px;
  padding-bottom: 40px;
  overflow: scroll;
}
.typing {
  background-color: #121212;
  border-radius: 11px;
  padding: 9px 16px;
  animation: all 2s;
}
.old {
  padding: 9px 16px;
  color: #948f8f;
}

.topic-card {
  display: flex;
  flex-direction: column;
  height: 260px;
  min-width: 190px;
  background: #fdfdfd;
  color: #000000;
  border: 1px solid #e0dbdb;
  padding: 10px;
  gap: 1%;
  border-radius: 13px;
  z-index: 11;
}
.topic-card-blur {
  display: flex;
  flex-direction: column;
 height: 260px;
  min-width: 190px;
  backdrop-filter: blur(12px);
  border: rgb(184, 177, 177) solid 1px;
  color: white;
  padding: 10px;
  gap: 1%;
  border-radius: 13px;
  z-index: 11;
}
.topic-card-gloss {
  display: flex;
  flex-direction: column;
  height: 260px;
  min-width: 190px;
   backdrop-filter: blur(32px);
  color: #ffffff;
border: rgba(184, 177, 177, 0.153) solid 1px;
  padding: 10px;
  gap: 1%;
  border-radius: 13px;
  z-index: 11;
}
.topic-card-dark {
  display: flex;
  flex-direction: column;
  height: 260px;
  min-width: 190px;
 background-color: #121212;
  color: #ffffff;
  border: rgba(184, 177, 177, 0) solid 1px;
  padding: 10px;
  gap: 1%;
  border-radius: 13px;
  z-index: 11;
}
.topic-card-black {
  display: flex;
  flex-direction: column;
  height: 260px;
  min-width: 190px;
  background: #020202;
  color: #ffffff;
  border: 1px solid #0d0d0d;
  padding: 10px;
  gap: 1%;
  border-radius: 13px;
  z-index: 11;
}
.topic-card-selected {
  display: flex;
  flex-direction: column;
 height: 260px;
  min-width: 190px;
  padding: 10px;
  gap: 1%;
  border-radius: 13px;
  z-index: 11;
}
.topic-picture {
  background-color: rgb(107, 68, 68);
  height: 70px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url("https://images.hdqwalls.com/wallpapers/one-moment-4j.jpg");
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
}
.topic-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.topic-card-title-desc {
  font-size: medium;
  color: #f8f4f4;
}
.topic-card-title {
  text-transform: uppercase;
  font-size: auto;
  color: #fefdfd;
  width: fit-content;
}
.topic-card-ln {
  color: #ebb462;
}
.topic-card-desc {
  font-size: small;
  height: 80px;
  overflow: hidden;
  padding-left: 3px;
}
.topic-card-button {
  display: flex;

  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #cfcfcf, #f6f6f6);
  box-shadow: 10px 10px 20px #c4c4c4, -10px -10px 20px #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  color: #000;
  transition: color 0.7s;
  cursor: pointer;
}

.card-button {
  background-color: blue;
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.card-button-selected {
  background-color: rgb(25, 25, 29);
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.re-visit{
  background-color: rgb(45, 45, 46);
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 10px;
  color: rgb(200, 195, 195);
  cursor: pointer;
}
.card-button:hover,.re-visit:hover,
.card-button-selected:hover {
background-color: orangered;
color: floralwhite;
}
.orange-text {
 
  font-size: 1.2rem;
  color: white;
  background-color: orangered;
  padding: 1px 10px;
  border-radius: 7px;
}
.button {
  background-color: #f7f6f6;
  padding: 10px 20px;
  border-radius: 19px;
}
@media (max-width: 50rem) {
  .features {
    display: none;
  }
  .left {
    display: none;
  }
  .body-contain {
    overflow: scroll;
  }

  .body-contain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .topic-container {
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    text-align: center;
  }
  .ide {
    width: fit-content;
    height: fit-content;
  }

  .bottom-container {
    display: flex;
    overflow: visible;
    flex-wrap: wrap;
  }
  .topic-card {
    flex: 30%;
    box-shadow: none;
  }
  .topic-and-lesson {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.blink {
  color: orange;
  animation: 2s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
