body {
  background: linear-gradient(to top, #000000, #000, #06041a);
}
.header-and-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.intro-background {
  background-image: url(../waves/two-waves.svg);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-blend-mode: color-dodge;
  background-position: bottom;
  background-repeat: repeat-x;
}
.button {
  background-color: #f7f6f6;
  padding: 10px 20px;
  border-radius: 19px;
}

.allstars{
  height: 200px;;
}
.center {
  justify-content: flex-start;
}
.section-left-to-center {
  width: 700px;
  display: flex;
  line-height: 1.5;
  flex-direction: column;
  align-items: flex-start;

  z-index: 200;
}
.welcome-button {
  font-size: 20px;
  padding: 14px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  border-radius: 10px;
  color: white;
  transition: transform 0.7s, color 0.7s;
  cursor: pointer;
  background: #473b2e2e;
  box-shadow: 0px 0px 1px #615f5c00, 0px 0px 2px #ffc67b;
  transition: all 0.6s;
}
.welcome-button:hover {
  background: #8d602e2e;
  padding: 14px 45px;
}
.lottie-box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.blurred-desc {
  padding: 20px;
  font-size: 1.2rem;
  font-family: "Bodoni Moda", serif;
  color: white;
  overflow: scroll;
  background-color: #100f0e47;
  /* padding: 20px; */
  border-radius: 12px;
  backdrop-filter: blur(20px);
}
.after-button-text {
  color: rgba(238, 230, 230, 0.7);
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  margin: 0px;
  max-width: 380px;
}
.birds {
  top: 0px;
  right: 0px;

  position: absolute;
  z-index: 1;
}
.rain {
  position: absolute;
  filter: contrast(200%);
  z-index: 1;
}

.welome-name-text {
  font-size: 1.2rem;
  color: white;
  background: #0e0482;
box-shadow:  5px 5px 10px #060237,
             -5px -5px 10px #1606cd;
  padding: 1px 10px;
  border-radius: 7px;
  margin-bottom: -12px;
}
.welcome-3d-text {
  font-size: 72px;
    background: linear-gradient(to right, rgb(255 255 255), rgb(249 146 84));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px -1px #06022a;
}
.welcome-title {
  font-family: "Playfair Display", serif;
}
.welcome-desc {
  width: 75%;
  color: white;
}
.join-button {
  backdrop-filter: blur(30px);
  padding: 10px 40px 10px 15px;
  margin-top: 15px;
  border-radius: 13px;
  color: rgb(255, 254, 254);
  border: #f7f6f64d 1px solid;
  transition: padding 0.7s, color 0.7s;
  z-index: 10;
  gap: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.join-button:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: rgb(27, 58, 60);
}
.button-icon {
  background-image: url("https://cdn-icons-png.flaticon.com/512/73/73940.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 29px;
  width: 29px;
  filter: invert(3);
}
.button-item-1 {
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  margin: 0px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(255, 254, 254);
}
.button-item-2 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  margin: 0px;
  color: rgb(89, 92, 123);
}
.button-icon:hover {
  transform: rotate(-0.25turn);
}

.dark-button {
  background-image: url(../thumbnails/sun.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(0);
  height: 30px;
  width: 30px;
  border-radius: 50%;

  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 200;
}
.dark-button:hover {
  filter: contrast(1);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .first-section {
    justify-content: center;
  }

  .center {
    justify-content: center;
  }
  .section-left-to-center {
    max-width: 600px;
    align-items: center;
    text-align: center;
  }
}

.container {
  position: relative;
}

.text {
  font-family: "Roboto Mono", monospace;
  font-size: 1.3rem;
  color: #383737;
}

.text_hide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
}

.text_cursor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  border-left: 3px solid rgb(235, 229, 229);
}

/* IPHONE VERSION */
@media (max-width: 436px) {
  .intro-background {
    background-position: top;
    margin-top: 170px;
  }
  .header-background {
    background-image: url(../waves/header-stars.svg);
    /* background-size: contain; */
    /* background-position: center; */
    height: 600px;
    position: absolute;
    /* display: flex; */
    /* top: 52px; */
    width: 100vw;
}
  .d-flex-row {
     flex-direction: row !important;
    
}
.footer {
  font-size: 13px;
  color: rgba(238, 230, 230, 0.7) !important;
}
.dark-button {
  display: none;
}
}